@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src:  url('./assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    }
}
